body {
    margin: 0;
    padding: 0;
  }

  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  #menu {
    position: absolute;
    background: #fafafa;
    padding: 10px;
    font-family: "Open Sans", sans-serif;
  }

  .coordinates {
    background: rgba(255, 255, 255, 0.5);
    color: #000000;
    position: absolute;
    bottom: 40px;
    left: 10px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
  }

  /* .marker {
    background-image: url('mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
} */

  .marker {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    color: #fff;
    background: #4d2d73;
    border: solid 2px;
    border-radius: 0 70% 70%;
    box-shadow: 0 0 2px #000;
    cursor: pointer;
    transform-origin: 0 0;
    transform: rotateZ(-135deg);
  }


.mapboxgl-user-location-dot {
    background-color: #1df241;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.mapboxgl-user-location-dot::before {
    background-color: #1df239;
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    animation: mapboxgl-user-location-dot-pulse 2s infinite;
}

.mapboxgl-user-location-dot::after {
    border-radius: 50%;
    border: 2px solid #fff;
    content: '';
    height: 19px;
    left: -2px;
    position: absolute;
    top: -2px;
    width: 19px;
    box-sizing: border-box;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
}

.mapboxgl-user-location-show-heading .mapboxgl-user-location-heading {
    width: 0;
    height: 0;
}

.mapboxgl-user-location-show-heading .mapboxgl-user-location-heading::before,
.mapboxgl-user-location-show-heading .mapboxgl-user-location-heading::after {
    content: "";
    border-bottom: 7.5px solid #4aa1eb;
    position: absolute;
}

.mapboxgl-user-location-show-heading .mapboxgl-user-location-heading::before {
    border-left: 7.5px solid transparent;
    transform: translate(0, -28px) skewY(-20deg);
}

.mapboxgl-user-location-show-heading .mapboxgl-user-location-heading::after {
    border-right: 7.5px solid transparent;
    transform: translate(7.5px, -28px) skewY(20deg);
}

@keyframes mapboxgl-user-location-dot-pulse {
    0%   { transform: scale(1); opacity: 1; }
    70%  { transform: scale(3); opacity: 0; }
    100% { transform: scale(1); opacity: 0; }
}

.mapboxgl-user-location-dot-stale {
    background-color: #aaa;
}

.mapboxgl-user-location-dot-stale::after {
    display: none;
}

.mapboxgl-user-location-accuracy-circle {
    background-color: #1da1f233;
    width: 1px;
    height: 1px;
    border-radius: 100%;
}